.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonAdd {
  margin-right: 5px;
}
