.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.addNew {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 300px;
}
