.App {
  min-height: 100vh;
  position: relative;
  text-align: center;
}

.menuButton {
  position: absolute;
  right: 20px;
  top: 20px;
}

.menuButton svg[data-icon="menu"] {
  fill: var(--color-text-default);
}
