@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

body {
  background: radial-gradient(#fcfcfc, #cfcfcf);
  height: 100%;
  margin: 0;
}

.bp4-dark body {
  background: rgb(10, 9, 45);
}

:root {
  --color-intent-primary: #137cbd;
  --color-text-default: #182026;
  --color-progress-bar-background: rgba(92,112,128,.2);
  --color-box-icon: #5c7080;
}

.bp4-dark {
  --color-text-default: #f5f8fa;
  --color-box-icon: #a7b6c2;
}

.bp4-select-popover .bp4-popover-content {
    padding: 5px;
}

.bp4-select-popover .bp4-menu {
  padding: 5px 0 0;
}