@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

body {
  background: radial-gradient(#fcfcfc, #cfcfcf);
  height: 100%;
  margin: 0;
}

:root {
  --color-text-default: #182026;
}

.bp3-dark {
  --color-text-default: #f5f8fa;
}

.bp3-select-popover .bp3-popover-content {
    padding: 5px;
}

.bp3-select-popover .bp3-menu {
  padding: 5px 0 0;
}