@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  background: linear-gradient(#e7e7e7, #fcfcfc);
  height: 100%;
  margin: 0;
}
