.wrapper {
  background-color: #fff;
  width: 90%;
  height: 90%;
  z-index: 20;
}

.nav {
  margin-bottom: 40px;
}

.button {
  margin-right: 5px;
}

.cancel {
  display: flex;
  margin-left: auto;
}