.wrapper {
  align-items: flex-end;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.wrapper .formGroup {
  margin-bottom: 0;
  width: 100%;
}

.swapButton {
  margin: 0 4px;
}

.deleteButton {
  margin-left: 4px;
}

.textarea {
  height: 30px;
  resize: none;
  width: 100%;
}