.wrapper {
  align-items: flex-start;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.wrapper .formGroup {
  margin-bottom: 0;
  width: 100%;
}

.swapButton,
.deleteButton {
  margin-top: 22px;
}

.swapButton {
  margin-left: 4px;
  margin-right: 4px;
}

.deleteButton {
  margin-left: 4px;
}

.textarea {
  resize: none;
}